<header class="section-header border-bottom">
	<section class="header-main border-bottom py-1">
		<div class="container">
			<div class="row gx-2 gy-3 d-flex align-items-center">
				<div class="col-lg col-md col-6 flex-grow-0">
					<a href="/" class="brand-wrap me-3">
						<img class="logo" height="40" src="{{URL_IMAGES}}/logo.png">
					</a>
				</div>
				<div class="col-lg col-md col-6 flex-grow-0">
					<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Categorias
					</button>
					<div class="dropdown-menu row col-lg-6 p-4 my-2">
						<div class="row">
							<div class="col-lg-8 d-flex flex-column">
								<h5 class="card-title mb-2">Jogos</h5>
								<div class="d-flex">
									<div class="d-flex flex-column">
										<a href="" class="mb-1">8 Ball Pool</a>
										<a href="" class="mb-1">Aika</a>
										<a href="" class="mb-1">Albion Online</a>
										<a href="" class="mb-1">Black Desert</a>
										<a href="" class="mb-1">Blade and Soul</a>
										<a href="" class="mb-1">Brawl Stars</a>
										<a href="" class="mb-1">Call of Duty</a>
										<a href="" class="mb-1">Clash of Clans</a>
									</div>
									<div class="d-flex flex-column mx-5">
										<a href="" class="mb-1">Clash Royale</a>
										<a href="" class="mb-1">Counter Strike</a>
										<a href="" class="mb-1">Dofus</a>
										<a href="" class="mb-1">DOTA 2</a>
										<a href="" class="mb-1">Epic Games</a>
										<a href="" class="mb-1">FIFA</a>
										<a href="" class="mb-1">Fortnite</a>
										<a href="" class="mb-1">Free Fire</a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 d-flex flex-column">
								<h5 class="card-title mb-2">Outros</h5>
								<a href="" class="mb-1">Assinaturas e Premiun</a>
								<a href="" class="mb-1">Cursos e Treinamentos</a>
								<a href="" class="mb-1">Discord</a>
								<a href="" class="mb-1">Gift Cards</a>
								<a href="" class="mb-1">Redes Sociais</a>
								<a href="" class="mb-1">Serviços Digitais</a>
								<a href="" class="mb-1">Softwares e Licenças</a>
							</div>
						</div>
					</div>
				</div> 
				<div class="col-lg col-md col-12">
					<div class="w-100">
						<div class="input-group"> 
							<input id="search" name="search" type="search" class="form-control" placeholder="Pesquisar anuncio"> 
							<button id="btn-search" class="input-group-text btn btn-light">
								<i class="fa fa-search"></i> 
							</button> 
						</div>
					</div>
				</div>
				<div class="col-lg col-md col-12">
					{{widgetuser}}
				</div>
			</div>
		</div>
	</section>
</header>