<!--favicon-->
<link rel="icon" href="{{URL_IMAGES}}/favicon.png" type="image/png" />

<script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
<link href="{{URL_ASSETS}}/css/flash.css" rel="stylesheet" />
<link href="{{URL_ASSETS}}/css/bootstrap.css" rel="stylesheet"/>

<link rel="preload" href="{{URL_ASSETS}}/fonts/fontawesome/webfonts/fa-solid-900.woff2" as="font" type="font/woff"
	crossorigin>
<link href="{{URL_ASSETS}}/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"/>
