<div class="d-flex justify-content-center mt-4">
  <div class="col-lg-10">
    <article class="card">
      <div class="card-body">
        <div class="d-flex align-items-baseline gap-3">
          <a href="{{URL}}" class='btn btn-info mt-2 text-light'>Voltar</a>
          <h5 class="card-title">Lista de todos os cadastros</h5>
        </div>
        <hr>
        <table id="list-items" class="display">
          <thead>
            <tr>
              <th>#ID</th>
              <th>Nome</th>
              <th>Idade</th>
              <th>Curso superior</th>
              <th>E-mail</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </div>
</div>